body {
    background-color: #f0f8ff;  /* 背景颜色 */
    font-family: Arial, sans-serif; /* 字体 */
    text-align: center;
    padding: 50px;
    margin: 0;
    color: #333;
}

h1 {
    color: #d80000;  /* 标题颜色 */
}

.tree {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    background: url('images/tree.jpg');
    background-size: contain; 
   background-position: center; /* 背景图片居中显示 */
    background-repeat: no-repeat; /* 不重复背景图片 */
    margin: 0;
    padding: 0;
    height: 100vh; /* 设置 body 的高度为屏幕高度 */

}

.gift {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;  /* 动画效果 */
}

.gift:hover {
    transform: scale(1.1);  /* 鼠标悬停时，礼物盒会放大 */
}

.gift1 { top: 100px; left: 50px; }
.gift2 { top: 120px; left: 120px; }
.gift3 { top: 160px; left: 180px; }
